@model Trening
<br></br>
<h2 >Izmeni trening @Model.Name</h2>
<hr />

<form method="post" asp-controller="Trening" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Izmeni trening" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Trening" asp-action="Index">Nazad</a>
</div>