@model Vezba

<h2 style="padding-top:70px;">Ukloni vežbu @Model?.VezbaName</h2>
<hr />

@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="VezbaId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model?.VezbaId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="VezbaName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.VezbaName
        </dd>

    </dl>
</div>

<form method="post" asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="VezbaId" />
    <input type="submit" value="Izbriši vežbu" class="btn btn-danger" onclick="javascript: return confirm('Da li želite da ižbrišete vežbu?');" />
</form>

<div>
    <a asp-controller="Vezba" asp-action="Index">Nazad</a>
</div>

